<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Homepage</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
</head>
<body>
  <style>
    * {border: 0px solid black;}
  </style>

  <div class="container" style="height: 400px;">
    <div class="d-flex flex-column align-items-center justify-content-center" style="height: 100%;">
      <form method="post" action="{% url 'upload' %}" enctype="multipart/form-data" class="p-3 shadow-sm rounded"
            style="width: 500px; background-color: #FAFAFA;">
        {% csrf_token %}
        <!-- Tip -->
        <div class="form-group">
          <h5 class="text-center">
            Welcome to Scrollable Banners!
          </h5>
        </div>
        <!-- File upload -->
        <div class="form-group">
          <div class="custom-file">
            <input required name="file" type="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile" >Choose config file</label>
          </div>
        </div>
        <!-- Submit -->
        <button type="submit" class="btn btn-success" id="submit_button" disabled title="Upload data">Submit</button>
      </form>
    </div>
  </div>

  <script>
              $(document).ready(function () {
                bsCustomFileInput.init()
              })
      </script>
  <script>
        document.getElementById('customFile').addEventListener('input', function (evt) {
          if (document.getElementById('customFile').value != "") {
            console.log("changed");
            $("#submit_button").removeAttr("disabled");
            $("#submit_button").removeAttr("title");
          }
        });

        $("#submit_button").click(function() {
          var loading_gif_url = "https://i.pinimg.com/originals/fe/24/ae/fe24ae50007b9d45aefeb5594c020efb.gif";
          $("#submit_button").html('<img style="height: 20xp; width: 20px;" src=' + loading_gif_url + '></img> &nbsp; Please wait...');
        });
      </script>
</body>
</html>
