<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Homepage</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bs-custom-file-input/dist/bs-custom-file-input.min.js"></script>
</head>
<body>
  <style>
    * {border: 0px solid black;}
  </style>

  <div class="container" style="height: 400px;">
    <div class="d-flex flex-column align-items-center justify-content-center" style="height: 100%;">
      <form  class="p-3 shadow-sm rounded" style="width: 500px; background-color: #FAFAFA;">
        <!-- Tip -->
        <div class="form-group">
          <h5 class="text-center">
            Welcome to Scrollable Banners!
          </h5>
        </div>
        <!-- File upload -->
        <div class="form-group">
          <div class="custom-file">
            <input required type="file" class="custom-file-input" id="customFile">
            <label class="custom-file-label" for="customFile">Choose file</label>
            <script>
              $(document).ready(function () {
                bsCustomFileInput.init()
              })
            </script>
          </div>
        </div>
        <!-- Submit -->
        <button type="submit" class="btn btn-success">Submit</button>
      </form>
    </div>
  </div>
</body>
</html>
